# mysql5.7配置参数

[client]
port=3306
socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4
[mysqld]
port=3306
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid

# ***************系统、字符、密码配置******************#
user=mysql
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
skip-character-set-client-handshake=true
default-time_zone='+8:00'
explicit_defaults_for_timestamp=1
lower_case_table_names=1


#***************主从配置及日志******************#
server-id=136
binlog-format=row
auto_increment_offset=1
auto_increment_increment=2
log_bin=/var/lib/mysql/mysqld-bin
max_binlog_size=1024M
relay-log=/var/lib/mysql/relay-log
expire_logs_days=1
relay_log_index=/var/lib/mysql/mysql_relay_bin.index
relay_log_info_file=/var/lib/mysql/mysql_relay_bin.info
relay_log_recovery=1
log-error=/var/log/mysql.log
slow_query_log=1
slow_query_log_file=/var/lib/mysql/mysql_slow.log
long_query_time=1
log_output=FILE
log_queries_not_using_indexes=1
log_slow_admin_statements=1
log_slow_slave_statements=1
log_throttle_queries_not_using_indexes=10
min_examined_row_limit=100
general_log_file=/var/lib/mysql/mysql_general.log
log_timestamps=SYSTEM

#***************连接配置******************#
max_connections=8000
max_allowed_packet=50M
max_connect_errors=100000
back_log=102
interactive_timeout=28800
wait_timeout=28800
table_definition_cache=5000
table_open_cache=2048
thread_cache_size=51
thread_stack=192K
#***globalmemoryparameter***#
max_allowed_packet=1024M
tmp_table_size=32M
max_tmp_tables=128
max_heap_table_size=96M

#***sessionmemoryparameter***#
sort_buffer_size=4M
read_buffer_size=4M
join_buffer_size=4M
bulk_insert_buffer_size=64M

#***INNODBSpecificoptions***#
innodb_data_home_dir=/var/lib/mysql/
innodb_data_file_path=ibdata1:12M:autoextend
innodb_log_group_home_dir=/var/lib/mysql/
innodb_buffer_pool_instances=3
innodb_buffer_pool_size=1G
innodb_buffer_pool_dump_pct=40
innodb_page_cleaners=4
innodb_log_file_size=1024M
innodb_log_files_in_group=2
innodb_log_buffer_size=32M  #default16M
innodb_flush_log_at_trx_commit=1
innodb_lock_wait_timeout=30
innodb_undo_directory=/var/lib/mysql/
innodb_undo_logs=128    #must>=35.default128
innodb_undo_log_truncate=1
innodb_max_undo_log_size=1024M
innodb_purge_rseg_truncate_frequency=128
innodb_print_all_deadlocks=1
innodb_sort_buffer_size=64M
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_at_shutdown=1
sql_mode=NO_ENGINE_SUBSTITUTION
innodb_open_files=4000
innodb_file_per_table=1
innodb_status_file=1
innodb_lock_wait_timeout=30
innodb_read_io_threads=8
innodb_write_io_threads=8
innodb_io_capacity=10000
innodb_thread_concurrency=32
innodb_commit_concurrency=0
innodb_purge_batch_size=1000
innodb_flush_method=O_DIRECT
innodb_purge_threads=4
innodb_strict_mode=1
innodb_support_xa=1
skip_innodb_adaptive_hash_index
innodb_force_recovery=0
innodb_change_buffering=all
innodb_max_dirty_pages_pct=75

#***************主从同步配置优化******************#
master_info_repository=TABLE
relay_log_info_repository=TABLE
sync_master_info=1

slave_parallel_type='logical_clock'
binlog_checksum=CRC32#defaultcrc32
master_verify_checksum=1#defaultoff
slave_sql_verify_checksum=1
expire_logs_days = 7

sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

symbolic-links=0

# innodb_file_format
# innodb_file_format_max 
# innodb_undo_tablespaces




